table {
	border-collapse : collapse;	
}
th {
	border : 1px solid green;
	padding : 2px 5px;
}
td {
	border : 1px solid blue;
	padding : 2px 5px;
}

#php {
	display : none;
}
code {
	background : black;
	color : white;
}
.boite_de_pandore {
	background : grey;
}
.lire {
	color : blue;
	font-weight : bold;
}
.rouge {
	background : red;
	color : yellow;
}