html {
	width : 100%;
	height : 100%;
}

section figure  {
	border : 1px solid blue;
}
section figure img {
	display : block;
	margin : auto;
	border : 2px solid red;
	background-image : url("../image/debardeur_homologue.png");
	
}