body {
	background-color : #363638;
}
form {
	margin : 25px 0 0 25px;
}
form fieldset {
	border : 1px solid #8a916f;
	border-radius : 10px 0 10px 10px;
	width : 450px;
}
form fieldset legend {
	color : white;
	margin-left : 50px;
	padding : 0 10px;
	font-size : 120%;
}
form fieldset #champ {
	margin : 10px 0 10px 0;
}
form fieldset #champ p label {
	display : inline-block;
	margin : 10px 10px 0 10px;
	width : 180px;
	color : white;
}
form fieldset #champ p input {
	width : 200px;
	border-radius : 5px 0 5px 5px;
}
form fieldset #champ p input:focus {
	background : #ffff99;
	border-radius : 5px 5px 5px 0;
}
form fieldset #champ p .bouton {
	width : 100px;
	background : black;
	color : grey;
}
form fieldset #champ p .bouton:hover {
	color : white;
}
form fieldset #champ #mouton {
	margin-left : 200px;
	margin-top : 10px;
	margin-bottom : 10px;
}